*, body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: white;
}

.container-1 {
    background-color: black;
    width: 100%;
    height: 325vh;
}

/* navbar */

.navbar-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
}

.logo-1 img {
    height: 50px;
    padding-left: 20px;
}

.navbar-1 ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: underline;
    padding-right: 15px;
}

ul li a {
    padding: 10px;
    color: white;
}

/* jumbotron */

.header-1 {
    width: 100%;
    position: relative;
}

.img-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.img-1 img {
    width: 100%;
    height: 100vh;
}

.caption-1 {
    text-align: center;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -95%);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.caption-2 {
    color: white;
    text-align: center;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}

/* main-1 */

.main-1 {
    width: 100%;
    height: 101vh;
    background-color: black;
}

.caption-3 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.caption-4 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.img-2 {
    display: flex;
    justify-content: space-around;
}

.img-2 img {
    width: 300px;
}

.img-2 figcaption {
    text-align: center;
}

.img-3 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.img-3 img {
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
}

.img-3 figcaption {
    text-align: center;
}

/* main-2 */

.main-2 {
    background-color: black;
    height: 100vh;
    position: relative;
}

.img-4 img {
    width: 100%;
    height: 100vh;
}

.locations {
    position: absolute;
    transform: translate(525%, -2500%);
}

.list {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}

.list-1,.list-2,.list-3 {
    width: 200px;
    height: 250px;
    background-color: black;
    position: absolute;
    padding: 60px;
}

.list-1 {
    transform: translate(-140%, -230%);
}

.list-2 {
    transform: translate(-7%, -230%);
}

.list-3 {
    transform: translate(130%, -230%);
}

.list-1 ul li {
    padding: 20px;
    list-style: none;
    text-align: center;
}

.list-2 ul li {
    padding: 20px;
    list-style: none;
    text-align: center;
}
.list-3 ul li {
    padding: 20px;
    list-style: none;
    text-align: center;
}

/* Main-3 */

.main-3 {
    width: 100%;
    height: 22vh;
    background-color: black
}

.contact-1 {
    text-align: center;
    padding-top: 20px;
}

.contact-1 h1 {
    padding-top: 15px;
}
.contact-1 h5 {
    padding-top: 30px;
}

.footer-1 {
    padding-top: 35px;  
    text-align: center;
}